<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it_geeks.info.elgawla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.intro.SplashScreenActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="elgawlaapp.page.link"
                    android:scheme="https" />
                <data
                    android:host="elgawlaapp.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- usesCleartextTraffic << resolve connectivity issue with api 28 -->
        <activity
            android:name=".views.main.MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.main.NotificationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.main.MainActivity">
            <intent-filter>
                <action android:name="notification_page" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.salon.SalonActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.salon.ClosedSalonActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.salon.WinnerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.salon.AllSalonsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.store.CategoryCardsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.store.PaymentReviewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.store.PaymentMethodsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.store.PaymentURLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.intro.SplashActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.intro.IntroActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.signing.SignUpActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.signing.SignInActivity" />
        <activity
            android:name=".views.signing.SignInActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.signing.ResetPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.signing.EnterPhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.signing.ActivationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.signing.ForgetPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.menu.SettingsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.menu.CallUsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.menu.LanguageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.menu.WebPageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.account.MembershipActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.main.MainActivity" />
        <activity
            android:name=".views.account.InvoicesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.account.ProfileActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.main.MainActivity" />
        <activity
            android:name=".views.account.SalonsArchiveActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.account.MyCardsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.account.ChangePasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.main.WinnersActivity"
            android:launchMode="singleTop" />
        <activity android:name=".views.BaseActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_remote_notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/g_round" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".util.receivers.NotificationInteractionsReceiver" />

        <receiver
            android:name=".util.receivers.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.com.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".util.services.UploadImageService"
            android:exported="false" />

        <service
            android:name=".util.notification.NotificationFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".util.services.GetSalonDataService"
            android:exported="false"
            android:parentActivityName=".views.main.MainActivity" />

    </application>

</manifest>