<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it_geeks.info.gawla_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- usesCleartextTraffic << resolve connectivity issue with api 28 -->
        <activity
            android:name=".views.MainActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.NotificationActivity">
            <intent-filter>
                <action android:name="notification_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.intro.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.salon.SalonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".views.WinnerActivity" />
        <activity android:name=".views.salon.AllSalonsActivity" />
        <activity android:name=".views.card.CardActivity" />
        <activity android:name=".views.card.BuyCardActivity" />
        <activity android:name=".views.intro.IntroActivity" />
        <activity android:name=".views.login.ForgetPasswordActivity" />
        <activity android:name=".views.login.CreateAccountActivity" />
        <activity android:name=".views.login.LoginActivity" />
        <activity android:name=".views.menu.SettingsActivity" />
        <activity android:name=".views.menu.MoreAboutGawlaActivity" />
        <activity android:name=".views.menu.PrivacyPolicyActivity" />
        <activity android:name=".views.menu.TermsAndConditionsActivity" />
        <activity android:name=".views.menu.CallUsActivity" />
        <activity android:name=".views.menu.LanguageActivity" />
        <activity android:name=".views.menu.WebPageActivity" />
        <activity android:name=".views.account.MembershipActivity" />
        <activity android:name=".views.account.BuyingProcessesActivity" />
        <activity android:name=".views.account.AccountDetailsActivity" />
        <activity
            android:name=".views.account.PrivacyDetailsActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- receivers -->
        <receiver android:name=".util.receivers.NotificationInteractionsReceiver" />
        <receiver
            android:name=".util.receivers.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.com.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- services -->
        <!-- Firebase Services -->
        <service android:name=".util.services.UploadImageService" />
        <service
            android:name=".util.services.NotificationFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_remote_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- pay -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>